package components

templ CheckMark() {
	<lord-icon
		src="https://cdn.lordicon.com/rvmukzut.json"
		trigger="hover"
		stroke="bold"
		state="hover-loading"
		colors="primary:#109121,secondary:#86c716"
		style="width:250px;height:250px"
	></lord-icon>
}

templ Loading() {
	<lord-icon
		src="https://cdn.lordicon.com/pxwxddbb.json"
		trigger="loop"
		state="loop-rotation"
		colors="primary:#66d7ee"
		style="position:relative;width:20px;height:20px;display:inline-block;"
	></lord-icon>
}
