package layouts

import "github.com/Sourjaya/converse/app/templates/components"

templ AppWithNavBar() {
@Base() {
<div id="app" class="w-screen h-screen">
  @components.Navigation()
  <div class="flex-grow flex items-center justify-center">
    { children... }
  </div>
</div>
}
}
