package errorComponent

templ Error500Component() {
	<div class="slide-transition flex flex-col justify-center items-center gap-4">
		<div class="text-muted-foreground text-5xl font-bold">500</div>
		<div class="text-lg">An unexpected error occured</div>
	</div>
}
